
.btns-group{
  margin-left: 200px;
  align-items: center;
}
.btnage {

  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: red;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.btnage:hover {
  background-color: #ff6f6f;
  box-shadow: 0 0 20px #04223750;
  transform: scale(1.1);
}

.btnage:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}